.row {
  margin-left: 0;
}

hr {
  border-top: 2px solid black;
}

.clickers {
  font-family: 'Raleway', sans-serif;
}

textarea .dt {
  width: 300px;
  height: 100px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
  outline: none;
}

.banner {
  margin-top: 20px;
}

.flash-del h5 {
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: darkred;
  text-align: center;
}

.admin-flush {
  border: 5px solid;
  margin-top: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pitch-title p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  letter-spacing: .25rem;
  padding-top: 5px;
}

#borderimg1 {
  border: 10px solid transparent;
  margin: 10px;
  border-image-source: url(../images/film-strip.jpg);
  border-image-repeat: repeat;
  border-image-slice: 300;
  background-color: rgba(0,0,0,.75);
  padding-bottom: 10px;
  color: #fafafa;
}

.pitch-collection {
  padding-top: 10px;
}

.vote-block {
  margin-top: 5px;
}

/* .vote-count {
  font-size: 1.5em;
}

.vote-count span {
  color: crimson;
  font-weight: bolder;
} */

.lit-dot {
  height: 25px;
  width: 25px;
  /* background-color: #bbb; */
  border-radius: 50%;
  display: inline-block;
  color: white;
}

.rejected {
  background-color: rgba(163, 20, 20);
}

.greenlit {
  background-color: rgba(93, 173, 36)
}

.accordion {
  /* background-color: #eee; */
  background-color: #ccc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* .active, .accordion:hover {
  background-color: #ccc;
} */

.panel {
  padding: 0 18px;
  /* background-color: white; */
  /* max-height: 0; */
  /* overflow: hidden; */
  transition: max-height 0.2s ease-out;
}