textarea .dt {
  width: 300px;
  height: 100px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
  outline: none;
}

.flash-del h5 {
  padding: 0;
  margin: 0;
}

.rejected {
  background-color: rgba(163, 20, 20, .15);
}

.greenlit {
  background-color: rgba(93, 173, 36, .15)
}
