/* body {
  background-color: #434343;
} */

.row {
  margin-left: 0;
}

hr {
  border-top: 2px solid black;
}

.nav_go_home {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: green;
}


.nav_go_home:hover {
  color: darkred;
  text-decoration: none;
}

/* .nav_go_home a {
  color: green;
  text-decoration: none;
  background-color: transparent;
} */

.pitches_main {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  background-color: #e5e5e5;
  /* background-color: #434343; */
}

.clickers {
  font-family: 'Raleway', sans-serif;
}

.choices {
  padding-bottom: 10px;
}

textarea .dt {
  width: 300px;
  height: 100px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
  outline: none;
}

.flash-del h5 {
  text-decoration: underline;
  text-decoration-color: darkred;
  text-align: center;
}

.flush_out {
  padding-top: 40px;
}

.pitch-title p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  letter-spacing: .25rem;
  padding-top: 5px;
}

.pitch-user p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  padding-top: 5px;
}

.pitch-title-greenlit {
  color: #2d7d42;
}

.pitch-title-rejected {
  color: rgba(163, 20, 20)
}

.borderimg {
  border: 10px solid transparent;
  border-image-source: url(../images/film-strip.jpg);
  border-image-repeat: repeat;
  border-image-slice: 300;
  background-color: rgba(0, 0, 0, .75);
  color: #fafafa;
}

.borderimg .title {
  margin-top: 5px;
}

.pitch-collection {
  margin-top: 5px;
  margin-bottom: 5px;
}

.vote_block {
  display: inline-block;
  margin-top: 10px;
}

.user_title {
  display: inline-block;
  margin-top: 10px;
}

.lit-dot {
  margin-top: 10px;
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  display: inline-block;
  color: white;
}

.info_button {
  color: #008080
}

.remove_button {
  color: crimson;
}

.remove_button:hover {
  color: darkred;
}

.submit_button {
  color: #e54e2d
}

.remove_pitch {
  justify-content: flex-end;
}

.rejected {
  background-color: rgba(163, 20, 20);
}

.greenlit {
  background-color: #2d7d42;
}

.banner {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #a3a3a3;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.panel {
  transition: max-height 0.2s ease-out;
  background-color: #717171;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 5px;
}

.pitch-text {
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
}