body {
  padding-bottom: 500px;
}

.row {
  margin-left: 0;
}

hr {
  border-top: 2px solid black;
}

/* --------------------------------------NAVBAR-------- */
.nav_go_home {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: green;
}


.nav_go_home:hover {
  color: darkred;
  text-decoration: none;
}

/* --------------------------------------PITCH CONTAINERs-------- */
.pitches_main {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e5e5e5;
}

.pitch-collection {
  margin-top: 10px;
  margin-bottom: 10px;
}

.borderimg {
  border: 10px solid transparent;
  border-image-source: url(../images/film-strip.jpg);
  border-image-repeat: repeat;
  border-image-slice: 300;
  background-color: rgba(0, 0, 0, .75);
  color: #fafafa;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}

.panel {
  transition: max-height 0.2s ease-out;
  background-color: #717171;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  margin-bottom: 5px;
}

.clickers {
  font-family: 'Raleway', sans-serif;
}

.choices {
  padding-bottom: 10px;
}

.dt {
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #717171;
}

.title_box {
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 1rem;
  color: #717171;
}

.flash-del h5 {
  text-decoration: underline;
  text-decoration-color: darkred;
  text-align: center;
}

.flush_out {
  padding-top: 40px;
}

.pitch-title p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  letter-spacing: .25rem;
  padding-top: 5px;
}

.pitch-user p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  padding-top: 5px;
}

.borderimg .title {
  margin-top: 5px;
}

.vote_block {
  display: inline-block;
  margin-top: 10px;
}

.user_title {
  display: inline-block;
  margin-top: 10px;
}

.lit-dot {
  /* margin-top: 10px; */
  height: 25px;
  width: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  display: inline-block;
  color: white;
}

.info_button {
  color: #008080
}

.remove_button {
  color: crimson;
}

.remove_button:hover {
  color: darkred;
}

.submit_button {
  color: #e54e2d
}

.remove_pitch {
  justify-content: flex-end;
}

.vote_text {
  padding: 0;
  margin: 0;
}

.pitch-text {
  padding: 0;
  margin-top: 5px;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
}

/* ---------------------------------------------------------*/
/* -------------------------------- ADD PITCH --------------*/
/* ---------------------------------------------------------*/

.page-header {
  padding-top: 10px;
  padding-bottom: 20px;
}

.tag_join p {
  padding: 0;
}

.url_button {
  padding-top: 20px;
  /* margin-bottom: 100px; */
}

/* ---------------------------------------------------------*/
/* -------------------------------- EDIT PITCH --------------*/
/* ---------------------------------------------------------*/

.no_edit {
  text-decoration: line-through;
}

.banner_text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title_head {
  text-align: center;
  font-size: 0.75rem;
}

/* ---------------------------------------------------------*/
/* -------------------------------- SHOW ALL PITCHES / USER PITCHES --------------*/
/* ---------------------------------------------------------*/

.all_pitches_container {
  margin-top: 30px;
}

.banner {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #a3a3a3;
  text-align: center;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  transition: 0.4s;
}

.tag_text {
  letter-spacing: .3em;
  font-size: 1.1em;
  background-color: white;
  color: black;
}

.pitch-img {
  margin-bottom: 20px;
}

.pitch_short {
  letter-spacing: .3em;
  font-size: 1em;
  background-color: grey;
  color: #fafafa;
  padding: 5px 5px;
}

.pitch_desc {
  text-align: left;
}

.rejected {
  background-color: rgba(163, 20, 20);
}

.greenlit {
  background-color: #2d7d42;
}

.pitch_title h3 {
  font-size: 1.2em;
}

.pitch-title-greenlit {
  color: #2d7d42;
}

.pitch-title-rejected {
  color: rgba(163, 20, 20);
}

/* ---------------------------------------------------------*/
/* -------------------------------- HOME PAGE --------------*/
/* ---------------------------------------------------------*/

.home_text ul {
  list-style: none;
  padding: 0;
}

.greenlit_heading {
  color: green;
  font-weight: bolder;
}

.home_page_text {
  border: solid 1.5px black;

}

.home_page_text h3 {
  padding: 0;
  margin: 0
}

.home_banner {
  padding: 20px 10px;
}

.home_banner h1 {
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1rem;
  font-size: 3rem;
}

.small {
  font-size: smaller;
  line-height: 1.5rem;
}

.everyone_text h3 {
  margin: 10px;
}

.pitches_main_home {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #f8f9fa;
}

.stats {
  margin-top: 50px;
}