textarea .dt {
  width: 300px;
  height: 100px;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
  outline: none;
}

.flash-del h5 {
  padding: 0;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: darkred;
  text-align: center;
}

.rejected {
  background-color: rgba(163, 20, 20, .15);
}

.greenlit {
  background-color: rgba(93, 173, 36, .15)
}

.admin-flush {
  border: 5px solid;
  margin-top: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pitch-title p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.25rem;
  letter-spacing: .25rem;
  padding-top: 5px;
}