{% extends 'base.html' %}
{% block content %}

<h3>Add Your Pitch</h3>
<form action="{{ url_for('insert_pitch') }}" method="POST"">
    <p>Welcome {{ session['username']|title }}</p>
    <div class=" input-field input-title">
    <label>Give your film a title</label>
    <textarea id="title" name="title"></textarea>
    </div>
    <br>
    <div class=" input-field" style="width:200px;">
        <select id="genre" name="genre_name">
            <option value="" disabled selected>Choose Genre</option>
            {% for genre in genres %}
            <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="input-field" style="width:200px;">
        <select id="director" name="director_name">
            <option value="" disabled selected>Choose Director</option>
            {% for director in directors %}
            <option value="{{director.director}}">{{director.director}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="input-field" style="width:200px;">
        <select id="actor" name="actor">
            <option value="" disabled selected>Choose Actor</option>
            {% for actor in actors %}
            <option value="{{actor.actor}}">{{actor.actor}}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <div class="input-field input-desc">
        <label>Describe your film in 30 characters</label>
        <textarea maxlength="50" id="description" name="discription" cols="30" rows="5" placeholder="50 Characters Pitches"></textarea>
    </div>
    <br>
    <div class="row">
        <button type="submit" action="{{ url_for('insert_pitch') }}">Add Your Pitch
        </button>
    </div>
    <br>
    <div class="row">
        <button><a href="{{ url_for('show_pitches') }}">View Your Pitches</a></button>
    </div>
</form>

{% endblock %}