{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 page-header text-center">
            <h2>{{ session['username']|title }}, add your pitch here (and don't forget to
                    <strong>submit</strong>)!</h2>
        </div>
    </div>
</div>

<div class="container">
    <form action="{{ url_for('insert_pitch') }}" method="POST">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 form-group">
                <textarea class="form-control dt" id="title" name="title" placeholder="Give your film a title" rows="2"
                    cols="2" required></textarea>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-12 col-md-3">
                <select class="custom-select custom-select-lg mb-3" id="genre" name="genre_name">
                    <option value="" disabled selected>Choose Genre</option>
                    {% for genre in genres|sort(attribute='genre_name') %}
                    <option value="{{genre.genre_name}}" required>{{genre.genre_name|title}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-12 col-md-3">
                <select class="custom-select custom-select-lg mb-3" id="director" name="director_name">
                    <option value="(User couldn't be bothered picking a director, this will not pass!!!)" selected>
                        Choose Director</option>
                    {% for director in directors|sort(attribute='director') %}
                    <option value="{{director.director}}">{{director.director}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-12 col-md-3">
                <select class="custom-select custom-select-lg mb-3" id="actor" name="actor">
                    <option value="" disabled selected>Choose Actor</option>
                    {% for actor in actors|sort(attribute='actor') %}
                    <option value="{{actor.actor}}">{{actor.actor}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 form-group">
                <textarea class="form-control dt" maxlength="311" id="description" name="discription" rows="3"
                    placeholder="Describe your film in 311 characters"></textarea>
            </div>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 text-center">
                <p class="storyboard">Create your tagline & storyboard from the classic options below.</p>
            </div>
        </div>


        <div class="row justify-content-md-center">
            <div class="col-12 col-md-3">
                <select class="custom-select" size="10" id="film_1" name="film_1">
                    <!-- <option value="" disabled selected>Choose Film 1:</option> -->
                    {% for title in tag_titles %}
                    <option value="{{title.title}}">{{title.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="tag_join">
                <p>Meets:</p>
            </div>
            <div class="col-12 col-md-3">
                <select class="custom-select" size="10" id="film_2" name="film_2">
                    <!-- <option value="" disabled selected>Film 2</option> -->
                    {% for title in tag_titles|sort(attribute='_id', reverse = True) %}
                    <option value="{{title.title}}">{{title.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="tag_join">
                <p>Where:</p>
            </div>
            <div class="col-12 col-md-3 input-field">
                <select class="custom-select" size="10" id="location" name="location">
                    <!-- <option value="" disabled selected>Location</option> -->
                    {% for location in tag_locations %}
                    <option value="{{location.location}}">{{location.location}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row justify-content-md-center url_button">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success" action="{{ url_for('insert_pitch') }}">Add Your Pitch
                </button>
            </div>
        </div>
        <div class="row justify-content-md-center url_button">
            <div class="col-12 text-center">
                <button class="btn btn-link"><a href="{{ url_for('user_pitches') }}">View Your Pitches</a></button>
            </div>
        </div>

    </form>
</div>

<div class="flash-del">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h5>{{ message }}</h5>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


{% endblock %}