{% extends 'base.html' %}
{% set active_page = "all_pitches" %}

{% block content %}

{% macro sentence_case(text) %}
{{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

<div class="container all_pitches_container">
    <div class="row">
        <div class="col-2 genre_dd">
            <form id="genre_form" action="{{ url_for('all_pitches') }}">
                <select onchange="this.form.submit()" name="genre_name" id="genre_name"
                    class="custom-select custom-select-sm mb-3">

                    <!-- <option value="Filter by genre" disabled selected>{{ genre_filter|title }}</option> -->

                    <option value="Filter by genre" disabled selected>Filter by genre</option>

                    {% for genre in genres %}
                    <option value="{{ genre.genre_name }}">{{ genre.genre_name|title }}</option>
                    {% endfor %}


                </select>

            </form>
        </div>

        <div class="col-2 offset-md-3">
            <button class="btn btn-link"><a href="{{ url_for('all_pitches', sort_field='votes') }}">Sort by
                    votes</a></button>
        </div>

        {% if session['username'] and session['username']|lower == 'admin' %}
        <div class="col-4">
            <form action="{{ url_for('delete_pitch') }}" method="POST">
                <button class="btn btn-danger admin-flush" type="submit">Flush all removed pitches</button>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 flash-del">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-dark" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<div class="container pitches_main">
    {% for pitch in pitches %}
    {% if pitch.is_del == false %}

    <div class="pitch-collection borderimg" id="thisPitch-{{ pitch._id }}">
        <div class="row banner">
            <div class="clickers">
                <a href="#down-drop-{{ pitch._id }}" id="down-drop-{{ pitch._id }}" class="btn info_button drop_down"><i
                        class="large material-icons">arrow_drop_down</i></a>
            </div>
            <div class="col-4">
                <h3 class="title pitch-title-{{ 'greenlit' if pitch.is_greenlit == '1' else 'rejected' }}">
                    {{ pitch.title|title }}</h3>
            </div>
            <div class="col-2 offset-md-1 user_title">
                <h5>Owner: {{ pitch.username|title }}</h5>
            </div>
            {% if session['username'] != 'admin' %}
            <div class="col-1 offset-md-2 vote_block">
                <form action=" {{ url_for('up_votes', pitch_id=pitch._id) }}" method="POST">
                    {% if session['username'] == pitch.username %}
                    <span class="vote_btn" tabindex="0" data-toggle="tooltip"
                        title="You can't vote for your own pitch!">
                        <button type="button" style="pointer-events: none;" disabled>Vote</button>
                    </span>
                    {% elif not session['username'] %}
                    <span class="vote_btn" tabindex="0" data-toggle="tooltip" title="Log in to vote!">
                        <button type="button" style="pointer-events: none;" disabled>Vote</button>
                    </span>
                    {% else %}
                    <button id="vote-{{ pitch._id }}" type="submit" class="vote_btn">Vote</button>
                    {% endif %}
                </form>
            </div>
            {% endif %}
            <div class="col-1 text-center">
                <p class="lit-dot {{ 'greenlit' if pitch.is_greenlit == '1' else 'rejected' }}">{{ pitch.votes }}</p>
                <p class="vote_text">Votes</p>
            </div>
            {% if session['username']|lower == 'admin' %}
            <div class="col-1 remove_pitch">
                <form action="{{ url_for('hide_pitch', pitch_id=pitch._id) }}" method="POST">
                    <button class="btn btn-default remove_button" type="submit">Remove</button>
                </form>
            </div>
            {% endif %}
        </div>
        <div id="content-{{ pitch._id }}" class="panel">
            <div class="row">
                <div class="col-10 offset-1 pitch-text">
                    <p class="pitch_short">
                        {% if pitch.genre_name|lower not in ['adventure', 'action'] %} A {% else %} An {% endif %}
                        <strong>{{ pitch.genre_name|title }}</strong> movie to be directed by
                        <strong>{{ pitch.director_name }}</strong> and starring
                        <strong>{{ pitch.actor }}</strong>.
                    </p>
                </div>
                <div class="col-10 offset-1 pitch-text">
                    <p class="pitch_desc">{{ pitch.description }}</p>
                </div>
                <div class="col-10 offset-1 pitch-text">
                    <p class="tag_text">{{ pitch.tag.film1 }} meets {{ pitch.tag.film2 }} {{ pitch.tag.location|title }}
                    </p>
                </div>
                <div class="col-10 offset-1 pitch-text pitch-img">
                    <img src="{{ url_for('static', filename = pitch.imgs.tag_img1.img ) }}"
                        onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                        height="100px">
                    <img src="{{ url_for('static', filename = pitch.imgs.tag_img2.img ) }}"
                        onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                        height="100px">
                    <img src="{{ url_for('static', filename = pitch.imgs.loc_img.img ) }}"
                        onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                        height="100px">
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    {% endfor %}
</div>
{% endblock %}