{% extends 'base.html' %}
{% set active_page = "all_pitches" %}

{% block content %}

{% macro sentence_case(text) %}
{{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

<div class="container">

    <div class="row">
        <div class="col-4 pitch-title">
            <p>All Pitches</p>
        </div>
        <div class="col-4 offset-md-4">
            <form action="{{ url_for('delete_pitch') }}" method="POST">
                <button class="admin-flush alert-danger" type="submit">Admin Only, flush those pitches!!!</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <form>
                <select onchange="window.open(this.options[this.selectedIndex].value,'_self')">
                    <option value="" disabled selected>Filter by Genre</option>
                    {% for genre in genres %}
                    <option value="{{ url_for('filter_genre', sort_field='created_at', gfilter=genre.genre_name )}}">
                        {{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>

        <div class="col-6">
            <button><a href="{{ url_for('all_but', sort_field='votes') }}">Sort by votes</a></button>
            <button type="button"><a href="{{ url_for('all_but', sort_field='last_modified') }}">Sort by last
                    update</a></button>
        </div>
        <div class="flash-del">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <h5>{{ message }}</h5>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>

    </div>

    <div class="container pitches_main">
        {% for pitch in pitches %}
        {% if pitch.is_del == false %}
        <div class="pitch-collection borderimg" id="thisPitch-{{ pitch._id }}">
            <div class="row banner">
                <div class="col-1 clickers">
                    <a href="#down-drop-{{ pitch._id }}" id="down-drop-{{ pitch._id }}"
                        class="btn info_button drop_down">Details</a>
                </div>
                <div class="col-6">
                    <h3 class="title pitch-title-{{ 'greenlit' if pitch.is_greenlit == '1' else 'rejected' }}">
                        {{ pitch.title|title }}</h3>
                </div>
                <div class="col-2 user_title">
                    <h5>Owner: {{ pitch.username|title }}</h5>
                </div>
                <div class="col-1 vote_block">
                    <form action=" {{ url_for('up_votes', pitch_id=pitch._id) }}" method="POST">
                    {% if session['username'] == pitch.username %}
                    <span class="vote_btn" tabindex="0" data-toggle="tooltip"
                        title="You can't vote for your own pitch!">
                        <button type="button" style="pointer-events: none;" disabled>Vote</button>
                    </span>
                    {% elif not session['username'] %}
                    <span class="vote_btn" tabindex="0" data-toggle="tooltip"
                        title="Log in to vote!">
                        <button type="button" style="pointer-events: none;" disabled>Vote</button>
                    </span>
                    {% else %}
                    <button id="vote-{{ pitch._id }}" type="submit" class="vote_btn">Vote</button>
                    {% endif %}
                    </form>
                </div>
                <div class="col-1 vote_count">
                    <span
                        class="lit-dot text-center {{ 'greenlit' if pitch.is_greenlit == '1' else 'rejected' }}">{{ pitch.votes }}</span>
                </div>
            </div>
            <div id="content-{{ pitch._id }}" class="panel">
                <div class="row">
                    <div class="col-12 pitch-text">
                        <p>
                            {% if pitch.genre_name|lower not in ['adventure', 'action'] %} A {% else %} An
                            {% endif %}
                            {{ pitch.genre_name|title }} to be directed by {{ pitch.director_name }} and starring
                            {{ pitch.actor }}.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pitch-text">
                        <p>{{ sentence_case(pitch.description) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 pitch-text">
                        <p>{{ pitch.tag.film1 }} meets {{ pitch.tag.film2 }} {{ pitch.tag.location|title }}</p>
                    </div>
                    <div class="col-12">
                        <img src="{{ url_for('static', filename = pitch.imgs.tag_img1.img ) }}"
                            onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                            height="100px">
                        <img src="{{ url_for('static', filename = pitch.imgs.tag_img2.img ) }}"
                            onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                            height="100px">
                        <img src="{{ url_for('static', filename = pitch.imgs.loc_img.img ) }}"
                            onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                            height="100px">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endblock %}