<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>
<title>GREENLIT</title>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Greenlit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ url_for( 'index' ) }}">Home <span class="sr-only">(current)</span></a>
                    {% if session['username'] %}
                    <a class="nav-item nav-link" href="{{ url_for('user_pitches') }}">Your Pitches</a>
                    <a class="nav-item nav-link" href="{{ url_for('all_pitches') }}">All Pitches</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ url_for( 'login' ) }}">Log In</a>
                    <a class="nav-item nav-link" href="{{ url_for( 'register' ) }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>