<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }} "
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <link
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Raleway:300,300i,400,400i|Cutive+Mono&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="static/js/d3.min.js"></script>
    <script type="text/javascript" src="static/js/crossfilter.min.js"></script>
    <script type="text/javascript" src="static/js/dc.min.js"></script>
    <script type="text/javascript" src="static/js/queue.min.js"></script>
</head>
{% block title %}
<title>GREENLIT</title>
{% endblock title %}

{% block nav %}

<body>

    <div class="container-fluid">
        {% set navbar_in = [
                            ('/user_pitches', 'user_pitches', 'My Pitches'),
                            ('/all_pitches', 'all_pitches', 'Others Pitches'),
                            ('/logout', 'logout', 'Logout')
                            ] -%}

        {% set navbar_out = [
            ('/all_pitches', 'all_pitches', 'Browse Pitches'),
            ('/login', 'login', 'Log In'),
            ('/register', 'register', 'Register')
            ] -%}

        {% set navbar_admin = [
            ('/show_users', 'users', 'Users'),
            ('/show_stats', 'stats', 'Statistics'),
            ('/all_pitches', 'all_pitches', 'All Pitches'),
            ('/logout', 'logout', 'Logout')
            ] -%}

        <nav class="navbar navbar-light navbar-expand-md bg-light">

            {% if session['username'] and session['username']|lower != 'admin'  %}
            <div class="d-flex">
                <a class="nav_go_home mr-0" href="/">Greenlit Home</a>
                <button class="navbar-toggler ml-1" type="button" data-toggle="collapse"
                    data-target="#collapse-this-navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="collapse-this-navbar">
                {% for link, id, text in navbar_in[:2] %}
                <ul class="navbar-nav ml-4">
                    <li {% if id == active_page %} class="nav-item active" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {%  endfor %}
            </div>
            <div class="nav navbar-brand">
                <span>{{ session['username']|upper }}</span>
            </div>
            <div class="nav navbar-nav order-md-last">
                {% for link, id, text in navbar_in[-1:] %}
                <ul class="nav navbar-nav">
                    <li {% if id == active_page %} class="nav-item active" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {% endfor %}
            </div>
            {% elif session['username']|lower == 'admin'  %}
            <div class="d-flex">
                <a class="nav_go_home mr-0" href="/">Greenlit Home</a>
                <button class="navbar-toggler ml-1" type="button" data-toggle="collapse"
                    data-target="#collapse-this-navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="collapse-this-navbar">
                {% for link, id, text in navbar_admin[:3] %}
                <ul class="navbar-nav ml-4">
                    <li {% if id == active_page %} class="nav-item active" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {%  endfor %}
            </div>
            <div class="nav navbar-brand">
                <span>{{ session['username']|upper }}</span>
            </div>
            <div class="nav navbar-nav order-md-last">
                {% for link, id, text in navbar_admin[-1:] %}
                <ul class="nav navbar-nav">
                    <li {% if id == active_page %} class="nav-item active" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {% endfor %}
            </div>
            {% else %}
            <div class="d-flex">
                <a class="nav_go_home mr-0" href="/">Greenlit Home</a>
            </div>
            <div class="navbar-collapse collapse" id="collapse-this-navbar">
                {% for link, id, text in navbar_out[:1] %}
                <ul class="navbar-nav ml-4">
                    <li {% if id == active_page %} class="nav-item active" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {% endfor %}
            </div>
            <div class="nav navbar-nav order-md-last">
                {% for link, id, text in navbar_out[-2:] %}
                <ul class="nav navbar-nav">
                    <li {% if id == active_page %} class="nav-item" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {% endfor %}
            </div>
            {% endif %}
        </nav>


        {% endblock nav %}

        <div class="container-fluid">
            {% block content %}
            {% endblock content %}
        </div>

        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/graphs.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

        <!-- // https://stackoverflow.com/questions/40792796/using-jquery-to-provide-onclick-event-within-inside-a-jinja2-loop -->

</body>

</html>