<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }} "
        type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <script type="text/javascript" href="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
{% block title %}
<title>GREENLIT</title>
{% endblock title %}

{% block nav %}

<body>

    <div class="container-fluid">
        {% set navbar_in = [
                            ('/', 'index', 'Home'),
                            ('/user_pitches', 'user_pitches', 'Your Pitches'),
                            ('/all_pitches', 'all_pitches', 'All Pitches'),
                            ('/logout', 'logout', 'Logout')
                            ] -%}

        {% set navbar_out = [
            ('/', 'index', 'Home'),
            ('/all_pitches', 'all_pitches', 'All Pitches'),
            ('/login', 'login', 'Log In'),
            ('/register', 'register', 'Register')
            ] -%}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Greenlit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                {% if session['username'] %}
                {% for link, id, text in navbar_in %}
                <ul class="navbar-nav">
                    <li {% if id == active_page %} class="nav-item active" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {% endfor %}
                {% else %}
                {% for link, id, text in navbar_out %}
                <ul class="navbar-nav">
                    <li {% if id == active_page %} class="nav-item active" {% endif %}>
                        <a class="nav-link" href="{{ link|e }}">{{ text }}</a></li>
                </ul>
                {% endfor %}
                {% endif %}
            </div>
        </nav>
    </div>

    {% endblock nav %}

    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


    <script>
        // https://stackoverflow.com/questions/40792796/using-jquery-to-provide-onclick-event-within-inside-a-jinja2-loop
        $(document).ready(function () {
            const p = $(".panel");
            p.hide();

            $('.drop-down').click(function () {
                var currentId = $(this).attr("id");
                var flaskMade = currentId.replace("down-drop-",
                ""); 
                $('#content-' + flaskMade).slideToggle("slow");
            });
        });
    </script>


</body>

</html>