{% extends 'base.html' %}
{% block content %}

<h2>Welcome {{ session['username']|title }}. You can now update your Pitch and resubmit. Best of luck!!!</h2>
<form action="{{ url_for('update_pitch', pitch_id=pitch._id) }}" method="POST"">

    <div class="input-field input-title">
    <p>Change the Title</p>
    <input id="title" name="title" type="text" class="validate" value="{{pitch.title}}">
    </div>
    <br>
    <div class="input-field" style="width:200px;">
        <label>Choose a New Genre?</label>
        <select id="genre" name="genre_name" type="text" class="validate">
            <option value="{{pitch.genre_name}}" disabled selected>{{pitch.genre_name}}</option>
            {% for genre in genres %}
            <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
            {% endfor %}
        </select>
    </div>

    <br>
    <div class="input-field" style="width:200px;">
        <label>Choose a New Director?</label>
        <select id="director_name" name="director_name" type="text" class="validate">
            <option value="{{pitch.director_name}}" disabled selected>{{pitch.director_name}}</option>
            {% for director in directors %}
            <option value="{{director.director}}">{{director.director}}</option>
            {% endfor %}
        </select>
    </div>

    <br>
    <div class="input-field" style="width:200px;">
            <label>Choose a New Actor?</label>
            <select id="actor" name="actor" type="text" class="validate">
                <option value="{{pitch.actor}}" disabled selected>{{pitch.actor}}</option>
                {% for actor in actors %}
                <option value="{{actor.actor}}">{{actor.actor}}</option>
                {% endfor %}
            </select>
        </div>

    <br>
    <div class="input-field input-title">
        <p>Update Description?</p>
        <input id="description" name="description" type="text" class="validate" value="{{pitch.description}}">
    </div>
    <br>
    <div>
        <button type="submit">Update Your Pitch
        </button>
    </div>
</form>






{% endblock %}