{% extends 'base.html' %}
{% block content %}


<div class="row banner_text">
    <div class="col-12 text-center edit_intro">
        <h5>Use the form below to update your pitch.</h5>
        <h5>Return to <em><a href="{{ url_for('user_pitches') }}">My Pitches</a></em> in order to resubmit!</h5>

    </div>
</div>

<hr>

<div class="container">
    <form action="{{ url_for('update_pitch', pitch_id=pitch._id) }}" method="POST">
        <div class="row justify-content-md-center title_head">
            <div class="col-12 col-md-6 form-group">
                <input class="form-control dt" id="title" name="title" value="{{pitch.title}}" rows="3"></input>
            </div>
        </div>
        {# dropdowns #}
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-3">
                <label>Select a Different Genre?</label>
                <select type="text" class="custom-select custom-select-lg mb-3 validate" id="genre_name"
                    name="genre_name">
                    <option value="{{pitch.genre_name}}" disabled selected>{{pitch.genre_name}}</option>
                    {% for genre in genres|sort(attribute='genre_name') %}
                    {% if genre.genre_name == pitch.genre_name %}
                    <option value="{{genre.genre_name}}" selected>{{genre.genre_name}}</option>
                    {% else %}
                    <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-12 col-md-3">
                <label>Choose a New Director?</label>
                <select type="text" class="custom-select custom-select-lg mb-3 validate" id="director" name="director">
                    <option value="{{pitch.director_name}}" disabled selected>{{pitch.director_name}}</option>
                    {% for director in directors|sort(attribute='director') %}
                    {% if director.director == pitch.director_name %}
                    <option value="{{director.director}}" selected>{{director.director}}</option>
                    {% else %}
                    <option value="{{director.director}}">{{director.director}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-12 col-md-3">
                <label>Choose a New Actor?</label>
                <select class="custom-select custom-select-lg mb-3 validate" id="actor" name="actor">
                    <option value="{{pitch.actor}}" disabled selected>{{pitch.actor}}</option>
                    {% for actor in actors|sort(attribute='actor') %}
                    {% if actor.actor == pitch.actor %}
                    <option value="{{actor.actor}}" selected>{{actor.actor}}</option>
                    {% else %}
                    <option value="{{actor.actor}}">{{actor.actor}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

        </div>

        <div class="row justify-content-md-center title_head">
            <div class="col-12 form-group">
                <input maxlength="399" type="text" class="validate form-control dt" id="description" name="description"
                    value="{{pitch.description}}"></input>

            </div>
        </div>


        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8 text-center">
                <p class="storyboard">Edit your tagline & storyboard: <em>{{ pitch.tag.film1 }} meets
                        {{ pitch.tag.film2 }} {{ pitch.tag.location|title }}</em></p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-3">
                <select id="tag1" name="tag1" type="text" class="custom-select validate" size="11">
                    <option value="{{pitch.tag.film1}}" disabled selected><i>{{pitch.tag.film1}}</i></option>
                    {% for tag in tag_titles %}
                    {% if tag.title == pitch.tag.film1 %}
                    <option value="{{tag.title}}" selected>{{tag.title}}</option>
                    {% else %}
                    <option value="{{tag.title}}">{{tag.title}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 col-md-3">
                <select id="tag2" name="tag2" type="text" class="custom-select validate" size="11">
                    <option value="{{pitch.tag.film1}}" disabled selected><i>{{pitch.tag.film2}}</i></option>
                    {% for tag in tag_titles %}
                    {% if tag.title == pitch.tag.film2 %}
                    <option value="{{tag.title}}" selected>{{tag.title}}</option>
                    {% else %}
                    <option value="{{tag.title}}">{{tag.title}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="col-12 col-md-3 input-field">
                <select id="location" name="location" type="text" class="custom-select validate" size="11">
                    <option value="{{pitch.tag.location}}" disabled selected>{{pitch.tag.location}}</option>
                    {% for tag in tag_locations %}
                    {% if tag.title == pitch.tag.location %}
                    <option value="{{tag.title}}" selected>{{tag.title}}</option>
                    {% else %}
                    <option value="{{tag.location}}">{{tag.location}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>


        <div class="row justify-content-md-center url_button">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success">Update Your Pitch
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}