{% extends 'base.html' %}
{% block content %}

{% macro sentence_case(text) %}
{{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

{% if is_anonymous %}
<p>wkjebkjwbec</p>
{% endif %}

<div class="row">
    <div class="col-12 flash-del">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<form action="{{ url_for('delete_pitch') }}" method="POST">
    <button class="alert alert-danger" type="submit">Admin Only, flush those pitches!!!</button>
</form>

<div class="container row">
    <div class="col-12">
        <h3>Pitches</h3>
    </div>
    <div class="col-12">
        {% if session['username'] %}
        <h4>Welcome {{ session['username']|title }}.</h4>
        <button><a href="{{ url_for('show_pitches', sort_field='created_at') }}">Go to own pitches</a></button>
        {% else %}
        <button type="button"><a href="{{ url_for('index') }}">Hello non logged in user, log in FFS!!!</a></button>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="col-12">
        <!-- <button><a href="{{ url_for('add_pitch') }}">Add New Pitch</a></button> -->
        <button><a href="{{ url_for('show_all_pitches', sort_field='created_at') }}">Sort by votes</a></button>
        <button type="button"><a href="{{ url_for('show_all_pitches', sort_field='last_modified') }}">Sort by last
                update</a></button>
    </div>
</div>

<div class="container" id="make-reorderable-by-rating">
    {# https://shubhamjain.co/til/capitalizing-first-letter-in-jinja/ #}
    {% for pitch in pitches %}
    {% if pitch.is_del == false %}
    <hr style="border: 2px dashed black">
    <div class="pitch-collection">
        <div class="col-2">
            <form action="{{ url_for('up_votes', pitch_id=pitch._id) }}" method="POST">
                <button type="submit">Vote</button>
            </form>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <h5 class="title">Pitch added by: {{ pitch.username|title }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="title">{{ pitch.title|title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    {% if pitch.genre_name|lower not in ['adventure', 'action'] %} A {% else %} An {% endif %}
                    {{ pitch.genre_name|title }} to be directed by {{ pitch.director_name }} and starring
                    {{ pitch.actor }}.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{ sentence_case(pitch.description) }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>{{ pitch.tag.film1 }} meets {{ pitch.tag.film2 }} {{ pitch.tag.location|title }}</p>
            </div>
            <div class="col-12">
                <img src="{{ url_for('static', filename = pitch.imgs.tag_img1.img ) }}"
                    onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                    height="100px">
                <img src="{{ url_for('static', filename = pitch.imgs.tag_img2.img ) }}"
                    onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                    height="100px">
                <img src="{{ url_for('static', filename = pitch.imgs.loc_img.img ) }}"
                    onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                    height="100px">
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}