{% extends 'base.html' %}
{% block content %}

<h3>Pitches</h3>
<h4>Welcome back {{ session['username']|title }}.</h4>
<button id="rating_sort">Sort by Rating</button>
<br>
<br>
<button><a href="{{ url_for('add_pitch') }}">Add New Pitch</a></button>
<br>
<br>
<ul id="make-reorderable-by-rating">
    {% for pitch in pitches|sort(reverse=True, attribute='last_modified') %}
    <div class="pitch-collection">
        <button><a href="{{ url_for('edit_pitch', pitch_id=pitch._id) }}">Edit</a></button>
        <li class="title">{{ pitch.title }}</li>
        <li>{{ pitch.genre_name }}</li>
        <li>{{ pitch.director_name }}</li>
        <li>{{ pitch.actor }}</li>
        <li>{{ pitch.description }}</li>
        <li>{{ pitch.tag.film1 }} meets {{ pitch.tag.film2 }} {{ pitch.tag.location|title }}</li>
        <img class="featurette-image img-responsive" src="{{ url_for('static', filename = pitch.imgs.tag_img1.img ) }}" width="200px"
        height="100px">
        <img class="featurette-image img-responsive" src="{{ url_for('static', filename = pitch.imgs.tag_img2.img ) }}" width="200px"
        height="100px">
        <img class="featurette-image img-responsive" src="{{ url_for('static', filename = pitch.imgs.loc_img.img ) }}" width="200px"
        height="100px">
        <hr>
    </div>
    {% endfor %}
</ul>

{% endblock %}