{% extends 'base.html' %}
{% block content %}

<h3>Users</h3>

<div class="col-12 flash-del">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h5>{{ message }}</h5>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>


<p>{{sum_pitches}}</p>

{% for user in users %}
{% if user.username != 'admin' %}
<div class="row">
    <div class="col-3">{{ user.username|title }}</div>

    <div class="col-3">
        <form action="{{ url_for('delete_user', user_id=user._id) }}" method="POST">
            <button class="admin-flush alert-danger" type="submit">Delete User</button>
        </form>
    </div>

</div>
<hr>
{% elif not user.username == 'admin'  %}
<div class="row">
    <div class="col-3">{{ user.username }}</div>
    <div class="col-3">
        <form action="{{ url_for('delete_user', user_id=user._id) }}" method="POST">
            <button class="admin-flush alert-danger" type="submit">Delete User</button>
        </form>
    </div>
</div>
<hr>
{% endif %}

{% endfor %}



{% endblock %}