{% extends 'base.html' %}
{% set active_page = "show_stats" %}

{% block content %}


<div class="row stats">
    <div class="col-12 col-md-4">
        <h3>User Prolificacy</h3>
        <div id="user-chart"></div>
        <label style="float: middle;">Pitches per user</label>
    </div>

    <div class="col-12 col-md-4">
        <h3>Total Votes Per User</h3>
        <div id="user-votes-chart"></div>
    </div>

    <div class="col-12 col-md-4">
        <h3>Genres</h3>
        <div id="genre-pie"></div>
    </div>
</div>

{% endblock %}