{% extends 'base.html' %}
{% set active_page = "user_pitches" %}

{% block content %}

{# https://shubhamjain.co/til/capitalizing-first-letter-in-jinja/ #}
{% macro sentence_case(text) %}
{{ text[0]|upper}}{{text[1:] }}
{% endmacro %}


<div class="row">
    <div class="col-4">
        <form action="{{ url_for('delete_pitch') }}" method="POST">
            <button class="alert alert-danger" type="submit">Admin Only, flush those pitches!!!</button>
        </form>
    </div>

    <div class="col-4 flash-del">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h5>{{ message }}</h5>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="container row">
    <div class="col-12">
        <h3>Pitches</h3>
    </div>
    <div class="col-12">
        {% if session['username'] and count > 0 %}
        <h4>Welcome {{ session['username']|title }}.</h4>
        {% elif session['username'] and count == 0 %}
        <h4>Welcome {{ session['username']|title }} ready to add your first pitch?.</h4>
        {% else %}
        <button type="button"><a href="{{ url_for('index') }}">Hello non logged in user, log in FFS!!!</a></button>
        {% endif %}
    </div>
    <br>
    <br>
    <div class="col-12">
        <button><a href="{{ url_for('add_pitch') }}">Add New Pitch</a></button>
        <button><a href="{{ url_for('user_pitches', sort_field='votes') }}">Sort by votes</a></button>
        <button type="button"><a href="{{ url_for('user_pitches', sort_field='last_modified') }}">Sort by last
                updated</a></button>
        <button type="button"><a href="{{ url_for('all_pitches', sort_field='last_modified') }}">Show all
                pitches</a></button>
    </div>
</div>

<div class="col-4">
        <form>
            <select onchange="window.open(this.options[this.selectedIndex].value,'_self')">
                <option value="" disabled selected>Filter by Status</option>
                {% for status in statuses %}
                <option value="{{ url_for('filter_status', sort_field='created_at', sfilter=status.is_greenlit )}}">
                    {{ status.is_greenlit }}</option>
                {% endfor %}
            </select>
        </form>
    </div>

<div class="container" id="make-reorderable-by-rating">
    {% for pitch in pitches %}
    {% if pitch.is_del == false and pitch.username == session['username'] %}
    <div class="pitch-collection">
        <div id="borderimg1" class="accordion">
            <div class="row accordion banner">
                <!-- <div class="col-1 clickers">
                    <a href="#down-drop-{{ pitch._id }}" id="down-drop-{{ pitch._id }}" class="info_button drop-down">Deets</a>
                </div> -->
                <div class="col-4">
                    <h3 class="title">{{ pitch.title|title }}</h3>
                </div>
                <div class="col-1">
                    <button class="btn-default" type="button"><a
                            href="{{ url_for('edit_pitch', pitch_id=pitch._id) }}">Edit</a></button>
                </div>
                <div class="col-1">
                    <form action="{{ url_for('hide_pitch', pitch_id=pitch._id) }}" method="POST">
                        <button class="btn-default" type="submit">Remove</button>
                    </form>
                </div>
                <div class="col-1">
                    <form action="{{ url_for('is_greenlit', pitch_id=pitch._id) }}" method="POST">
                        {% if pitch.is_greenlit == 1 %}
                        <button class="btn-default" type="submit" disabled>SUBMIT</button>
                        {% else %}
                        <button class="btn-default" type="submit">SUBMIT</button>
                        {% endif %}
                    </form>
                </div>
                <div class="col-1 offset-3 d-flex justify-content-end vote-count">
                    <span
                        class="lit-dot text-center {{ 'greenlit' if pitch.is_greenlit == '1' else 'rejected' }}">{{ pitch.votes }}</span>
                </div>
            </div>
            <hr>
            <div id="content-{{ pitch._id }}" class="panel">
                <div class="row">
                    <div class="col-12">
                        <p>
                            {% if pitch.genre_name|lower not in ['adventure', 'action'] %} A {% else %} An {% endif %}
                            {{ pitch.genre_name|title }} to be directed by {{ pitch.director_name }} and starring
                            {{ pitch.actor }}.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ sentence_case(pitch.description) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ pitch.tag.film1 }} meets {{ pitch.tag.film2 }} {{ pitch.tag.location|title }}</p>
                    </div>
                    <div class="col-12">
                        <img src="{{ url_for('static', filename = pitch.imgs.tag_img1.img ) }}"
                            onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                            height="100px">
                        <img src="{{ url_for('static', filename = pitch.imgs.tag_img2.img ) }}"
                            onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                            height="100px">
                        <img src="{{ url_for('static', filename = pitch.imgs.loc_img.img ) }}"
                            onerror="this.onerror=null;this.src='https://placeimg.com/200/300/animals';" width="200px"
                            height="100px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    {% endblock %}